# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env
.Python

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/
pip-wheel-metadata/

# System files
Thumbs.db
.idea/